@font-face {
  font-family: "actionman-shaded";
  src: url("./fonts/Action_Man_Shaded-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "actionman";
  src: url("./fonts/Action_Man-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "clearsans";
  src: url("./fonts/ClearSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
}

p,
a,
li,
button,
label {
  font-family: clearsans;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}

h2 {
  /* font-family: actionman-shaded; */
  font-family: clearsans;
  color: #f92c85;
}

h1 {
  font-family: clearsans;
}

h3,
h4 {
  font-family: clearsans;
  /* font-family: actionman; */
}

h1 {
  font-size: 4.5rem;
  color: #f92c85;
}

.App {
  background-color: #fdf5df;
  padding: 20px 0;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

#search-form {
  /* border: 2px solid #f92c85 !important; */
  border: 4px solid #5ebec4 !important;
  background-color: #fdf5df !important;
}
#watch-list {
  /* border: 2px solid #f92c85 !important; */
  border: 4px solid #5ebec4 !important;
  background-color: #fdf5df;
}

#stock-form {
  padding: 25px 0;
  border: 4px solid grey;
  width: 310px;
  margin: 20px auto;
  border-radius: 5px;
}

#stock-ticker,
#region,
.watchlist-container {
  background-color: #f1f1f1;
  border: 1px solid black;
}

#region-addon,
#stock-addon {
  border: 1px solid black;
}

#region:focus,
#region:active,
#stock-ticker:focus,
#stock-ticker:active {
  background-color: white;
}

#stock-container {
  border-radius: 5px;
  background-color: #fdf5df;
  border: 4px solid #5ebec4 !important;
}

.news-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}
